.info-blok{
    padding: 0 15px;
    width: 33.33%;


.info-name{
    font-size: 31px;
    font-weight: 300;
    color: snow;
    margin-bottom: 8px;

}
.info-number{
    font-size: 19px;
    font-weight: 200;
    color: #adb5bd;
    margin-bottom: 16px;
}

}