@import '../../assets/style/global.scss';

.reviews-blok{
    width: 100%;
    background-color:#343a40;
    padding-bottom: 70px;

.reviews-title{
    font-size: 65px;
    color: snow;
    padding: 100px 0 100px 0;
}
.reviews-users{
    width: 100%;
   
}


}

@media screen and(max-width: 768px) {
    
.reviews-users{
    display: flex;
    flex-wrap: wrap;
.user-blok{
    width: 90%;
}

}


}