.foot-content{
    width: 100%;
    height: 50px;
    border-top: 1px solid  #adb5bd;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #343a40;
    color:#adb5bd ;
}